<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form AI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Input Data AI</h2>
  <form class="form-horizontal" action="/process" method ="POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">Age:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="workclass">Work Class:</label>
      <div class="col-sm-10">
      <select class="form-control" id="workclass" name="workclass">
        <option value="Private">1. Private</option>
        <option value="Self-emp-not-inc">2. Self-emp-not-inc</option>
        <option value="Self-emp-inc">3. Self-emp-inc</option>
        <option value="Federal-gov">4. Federal-gov</option>
        <option value="Local-gov">5. Local-gov</option>
        <option value="State-gov">6. State-gov</option>
        <option value="Without-pay">7. Without-pay</option>
        <option value="Never-worked">8. Never-worked</option>
      </select>
      </div>
    </div> 

    <div class="form-group">
      <label class="control-label col-sm-2" for="fnlwgt">Fnlwgt:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="fnlwgt" placeholder="Enter fnlwgt" name="fnlwgt">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="education">Education:</label>
      <div class="col-sm-10">
      <select class="form-control" id="education" name="education">
        <option value="Bachelors">1. Bachelors</option>
        <option value="Some-college">2. Some-college</option>
        <option value="11th">3. 11th</option>
        <option value="HS-grad">4. HS-grad</option>
        <option value="Prof-School">5. Prof-School</option>
        <option value="Assoc-acdm">6. Assoc-acdm</option>
        <option value="Assoc-voc">7. Assoc-voc</option>
        <option value="9th">8. 9th</option>
        <option value="7th-8th">9. 7th-8th</option>
        <option value="12th">10. 12th</option>
        <option value="Masters">11. Masters</option>
        <option value="1st-4th">12. 1st-4th</option>
        <option value="10th">13. 10th</option>
        <option value="Doctorate">14. Doctorate</option>
        <option value="5th-6th">15. 5th-6th</option>
        <option value="Preschool">16. Preschool</option>
      </select>
      </div>
    </div> 
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="education_num">Education Num:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="education_num" placeholder="Enter Education Num" name="education_num">
      </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="marital_status">Marital-status:</label>
    <div class="col-sm-10">
    <select class="form-control" id="marital_status" name="marital_status" >
      <option value="Married-civ-Spouse">1. Married-civ-Spouse</option>
      <option value="Divorced">2. Divorced</option>
      <option value="Never-Married">3. Never-Married</option>
      <option value="Separated">4. Separated</option>
      <option value="Widowed">5. Widowed</option>
      <option value="Married-spouse-absent">6. Married-spouse-absent</option>
      <option value="Married-AF-spouse">7. Married-AF-spouse</option>
    </select>
    </div>
    </div> 

    <div class="form-group">
    <label class="control-label col-sm-2" for="occupation">Occupation:</label>
    <div class="col-sm-10">
    <select class="form-control" id="occupation" name="occupation">
      <option value="Tech-Support">1. Tech-Support</option>
      <option value="Craft-repair">2. Craft-repair</option>
      <option value="Other-service">3. Other-service</option>
      <option value="Sales">4. Sales</option>
      <option value="Exec-managerial">5. Exec-managerial</option>
      <option value="Prof-specialty">6. Prof-specialty</option>
      <option value="Handlers-cleaners">7. Handlers-cleaners</option>
      <option value="Machine-op-inspct">8. Machine-op-inspct</option>
      <option value="Adm-clerical">9. Adm-clerical</option>
      <option value="Farming-Fishing">10. Farming-Fishing</option>
      <option value="Transport-moving">11. Transport-moving</option>
      <option value="Priv-house-serv">12. Priv-house-serv</option>
      <option value="Protective-serv">13. Protective-serv</option>
      <option value="Armed-Forces">14. Armed-Forces</option>
    </select>
    </div>
    </div> 
    
    <div class="form-group">
    <label class="control-label col-sm-2" for="relationship">Relationship:</label>
    <div class="col-sm-10">
    <select class="form-control" id="relationship" name="relationship">
      <option value="Wife">1. Wife</option>
      <option value="Own-child">2. Own-child</option>
      <option value="Husband">3. Husband</option>
      <option value="Not-in-family">4. Not-in-family</option>
      <option value="Other-relative">5. Other-relative</option>
      <option value="Unmarried">6. Unmarried</option>
    </select>
    </div>
    </div> 

    <div class="form-group">
    <label class="control-label col-sm-2" for="race">Race:</label>
    <div class="col-sm-10">
    <select class="form-control" id="race" name="race">
      <option value="White">1. White</option>
      <option value="Asian-Pac-Islander">2. Asian-Pac-Islander</option>
      <option value="Amer-Indian-Eskimo">3. Amer-Indian-Eskimo</option>
      <option value="Black">4. Black</option>
      <option value="Other">5. Other</option>
    </select>
    </div>
    </div> 

    <div class="form-group">
    <label class="control-label col-sm-2" for="gender">Gender :</label>
    <div class="col-sm-10">
    <div class="radio-inline"><label><input type="radio" name="sex" value="Male" checked>Male</label></div>
    <div class="radio-inline"><label><input type="radio" name="sex" value="Female" >Female</label></div>  
    </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="capital_gain">Capital-gain:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="capital_gain" placeholder="Enter Capital-gain" name="capital_gain">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="capital_loss">Capital-loss:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="capital_loss" placeholder="Enter Capital-loss" name="capital_loss">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="hours_per_week">Hours-per-week:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="hours_per_week" placeholder="Enter Hours-per-week" name="hours_perweek">
      </div>
    </div>
    
    <div class="form-group">
    <label class="control-label col-sm-2" for="native_country">Native-country:</label>
    <div class="col-sm-10">
    <select class="form-control" id="native_country" name="native_country" >
      <option value="United-States">1. United-States</option>
      <option value="Cambodia">2. Cambodia</option>
      <option value="England">3. England</option>
      <option value="Puerto-Rico">4. Puerto-Rico</option>
      <option value="Canada">5. Canada</option>
      <option value="Germany">6. Germany</option>
      <option value="Outlying-US(Guam-USVI-etc)">7. Outlying-US(Guam-USVI-etc)</option>
      <option value="India">8. India</option>
      <option value="Japan">9. Japan</option>
      <option value="Greece">10. Greece</option>
      <option value="South">11. South</option>
      <option value="China">12. China</option>
      <option value="Cuba">13. Cuba</option>
      <option value="Iran">14. Iran</option>
      <option value="Honduras">15. Honduras</option>
      <option value="Philippines">16. Philippines</option>
      <option value="Italy">17. Italy</option>
      <option value="Poland">18. Poland</option>
      <option value="Jamaica">19. Jamaica</option>
      <option value="Vietnam">20. Vietnam</option>
      <option value="Mexico">21. Mexico</option>
      <option value="Portugal">22. Portugal</option>
      <option value="Ireland">23. Ireland</option>
      <option value="France">24. France</option>
      <option value="Dominican-republic">25. Dominican-republic</option>
      <option value="Laos">26. Laos</option>
      <option value="Ecuador">27. Ecuador</option>
      <option value="Taiwan">28. Taiwan</option>
      <option value="Haiti">29. Haiti</option>
      <option value="Columbia">30. Columbia</option>
      <option value="Hungary">31. Hungary</option>
      <option value="Guatemala">32. Guatemala</option>
      <option value="Nicaragua">33. Nicaragua</option>
      <option value="Scotland">34. Scotland</option>
      <option value="Thailand">35. Thailand</option>
      <option value="Yugoslavia">36. Yugoslavia</option>
      <option value="El-Salvador">37. El-Salvador</option>
      <option value="Trinadad&Tobago">38. Trinadad&Tobago</option>
      <option value="Peru">39. Peru</option>
      <option value="Hong">40. Hong</option>
      <option value="Holand-Netherlands">41. Holand-Netherlands</option>
    </select>
    </div>
    </div> 

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    
    
  </form>
</div>

</body>
</html>
